/*!
MODULES styling
- contains modules large & small (m-*)

	@include breakpoint($mobplus) {}
	@include breakpoint($tablet) {}
	@include breakpoint($desktop) {}
	@include breakpoint($widescreen) {}
	@include breakpoint($fullhd) {}
*/

/*! REUSABLE MODULES
-------------------------------------------------------- */
// landing module
@keyframes zoom {
	0%   { transform: scale(1, 1); }
	50% { transform: scale(1.05, 1.05); }
	100% { transform: scale(1, 1); }
}

.m-landing {
	height: 100vh;
	min-height: 560px;

	&__cover {
		@include cover('/images/mock-cover.jpg');
		cursor: pointer;
		height: 100%;
		animation: zoom 10s linear infinite;
	}

	&__heading {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__h1 {
		font-size: 8rem;
		color: white;

		span {
			opacity: 0.1;
			@include animate(default);
		}

		.char-hidden { opacity: 0; }
	}

	&__bot {
		bottom: 0;
		left: 0;
		width: 100%;
	}

	&__down {  }
}



/*! HOME
-------------------------------------------------------- */
// module
