<!--
	Home page template
	* ...
-->

<!-- landing cover -->
<section class="m-landing no-overflow t-relative" id="fn-cover">
	<div class="m-landing__cover" data-target="#anchor-content" id="fn-down"></div>

	<!-- mid block: quote? -->
	<div class="m-landing__heading">
		<h1 class="">#lostwords</h1>
	</div>

	<!-- bottom block -->
	<div class="section is-p0 m-landing__bot t-absolute t-pointer" data-target="#anchor-content" id="fn-down-bar">
		<div class="container">
			<div class="columns">
				<div class="column has-text-white">
					<i class="fas fa-chevron-circle-down fa-3x is-pulled-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- post feed -->
<section class="m-pfeed section" style="height: 1500px;">
	<div class="container">
		<div class="columns is-multiline">

			<!-- heading -->
			<div class="column has-text-centered" id="anchor-content">
				<h2 class="f-h1">Words for you.</h2>
				<!-- with faded icon behind heading -->
			</div>

			<!-- posts -->



		</div>
	</div>
</section>
