<!--
	Home page template
	* ...
-->

<!-- landing cover -->
<section class="m-landing no-overflow t-relative">
	<div class="m-landing__cover" data-target="#anchor-content" id="fn-cover"></div>

	<!-- loading spinner -->
	<div class="m-landing__loading t-absolute t-align--mid-cen has-text-centered">
		<div class="is-inline-block">
			<i class="fas fa-circle-notch fa-spin fa-2x "></i>
		</div>
		<div>Loading</div>
	</div>

	<!-- mid block: quote? -->
	<div class="m-landing__heading t-absolute">
		<span class="m-landing__h1--home f-h1 t-pointer" id="fn-hcover-heading" data-target="#anchor-content">
			<span class="char-hidden char-hash">#</span><span class="char-hidden char-l">l</span><span class="char-hidden char-o">o</span><span class="char-hidden char-s">s</span><span class="char-hidden char-t">t</span><span class="char-hidden char-w">w</span><span class="char-hidden char-o">o</span><span class="char-hidden char-r">r</span><span class="char-hidden char-d">d</span><span class="char-hidden char-s">s</span>
		</span>
	</div>

	<!-- bottom block -->
	<div class="section is-p0 m-landing__bot t-absolute t-pointer" data-target="#anchor-content" id="fn-down-bar">
		<div class="container">
			<div class="columns">
				<div class="column has-text-white">
					<i class="fas fa-caret-down fa-3x"></i>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- post feed heading -->
<section class="section is-sml">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered" id="anchor-content">
				<h1 class="f-h1">“<span class="is-red-pale">strange</span>words”</h1>
			</div>
		</div>
	</div>
</section>

<!-- post feed -->
<section class="section is-p0--top">
	<div class="container">
		<div class="columns is-multiline">

			<!-- main post -->
			<div class="column is-12">
				<a href="#" target="_self" class="m-pfeed__post is-block t-relative no-overflow">
					<div class="m-pfeed__bg t-absolute" style="background-image: url('/images/cover-summer.jpg');"></div>
					<div class="t-absolute m-pfeed__info">
						<h2 class="f-h2 has-text-white m-pfeed__heading">This is the heading of the main post, it can be rather long</h2>
						<span class="f-h4 has-text-white m-pfeed__stats">Year <strong>321</strong> ~ <strong>722</strong> words</span>
						<div class="m-pfeed__read no-overflow">
							<div class="m-pfeed__read-spacer">
								<strong>Read <i class="fas fa-long-arrow-alt-right m-pfeed__arrow"></i></strong>
							</div>
						</div>
					</div>
				</a>
			</div>

			<!-- post -->
			<div class="column is-6">
				<a href="#" target="_self" class="m-pfeed__post m-pfeed__post--sec is-block t-relative no-overflow">
					<div class="m-pfeed__bg t-absolute" style="background-image: url('/images/cover-autumn.jpg');"></div>
					<div class="t-absolute m-pfeed__info m-pfeed__info--sec">
						<h2 class="f-h3 has-text-white m-pfeed__heading">This is the heading of the main post, it can be rather long</h2>
						<span class="f-h4 has-text-white m-pfeed__stats">Year <strong>321</strong> ~ <strong>722</strong> words</span>
						<div class="m-pfeed__read no-overflow">
							<div class="m-pfeed__read-spacer">
								<strong>Read <i class="fas fa-long-arrow-alt-right m-pfeed__arrow"></i></strong>
							</div>
						</div>
					</div>
				</a>
			</div>

			<!-- post -->
			<div class="column is-6">
				<a href="#" target="_self" class="m-pfeed__post m-pfeed__post--sec is-block t-relative no-overflow">
					<div class="m-pfeed__bg t-absolute" style="background-image: url('/images/cover-spring.jpg');"></div>
					<div class="t-absolute m-pfeed__info m-pfeed__info--sec">
						<h2 class="f-h3 has-text-white m-pfeed__heading">This is the heading of the main post, it can be rather long</h2>
						<span class="f-h4 has-text-white m-pfeed__stats">Year <strong>321</strong> ~ <strong>722</strong> words</span>
						<div class="m-pfeed__read no-overflow">
							<div class="m-pfeed__read-spacer">
								<strong>Read <i class="fas fa-long-arrow-alt-right m-pfeed__arrow"></i></strong>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</section>