<!--
	Home page template
	* ...
-->

<!-- landing cover -->
<section class="m-landing no-overflow t-relative">
	<div class="m-landing__cover" data-target="#anchor-content" id="fn-cover"></div>

	<!-- loading spinner -->
	<div class="m-landing__loading t-absolute t-align--mid-cen has-text-centered">
		<div class="is-inline-block">
			<i class="fas fa-circle-notch fa-spin fa-2x "></i>
		</div>
		<div>Loading</div>
	</div>

	<!-- mid block: quote? -->
	<div class="m-landing__heading t-absolute">
		<span class="m-landing__h1 f-h1" id="fn-hcover-heading">
			<span class="char-hidden char-hash">#</span><span class="char-hidden char-l">l</span><span class="char-hidden char-o">o</span><span class="char-hidden char-s">s</span><span class="char-hidden char-t">t</span><span class="char-hidden char-w">w</span><span class="char-hidden char-o">o</span><span class="char-hidden char-r">r</span><span class="char-hidden char-d">d</span><span class="char-hidden char-s">s</span>
		</span>
	</div>

	<!-- bottom block -->
	<div class="section is-p0 m-landing__bot t-absolute t-pointer" data-target="#anchor-content" id="fn-down-bar">
		<div class="container">
			<div class="columns">
				<div class="column has-text-white">
					<i class="fas fa-caret-down fa-3x"></i>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- post feed -->
<section class="m-pfeed section" style="height: 1500px;">
	<div class="container">
		<div class="columns is-multiline">

			<!-- heading -->
			<div class="column has-text-centered" id="anchor-content">
				<h1 class="f-h1">#words</h1>
				<!-- with faded icon behind heading -->
			</div>

			<!-- posts -->



		</div>
	</div>
</section>
