<!--
	Home page template
	* ...
-->

<!-- landing cover -->
<section class="m-landing no-overflow t-relative">
	<div class="m-landing__cover"></div>

	<!-- mid block: quote? -->

	<!-- bottom block -->
	<div class="section is-p0 m-landing__bot t-absolute">
		<div class="container">
			<div class="columns">
				<div class="column ">
					<a href="#anchor-content" class="has-text-white m-landing__down is-pulled-right t-block" id="fn-down">
						<i class="fas fa-chevron-circle-down fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- post feed -->
<section class="m-pfeed section" style="height: 1500px;">
	<div class="container">
		<div class="columns is-multiline">

			<!-- heading -->
			<div class="column has-text-centered" id="anchor-content">
				<h1 class="f-h1">Lion's Writings</h1>
			</div>

			<!-- posts -->



		</div>
	</div>
</section>
